.main {
  background: transparent;
}

#controlcard {
  background: transparent;
  box-shadow: 0 8px 32px 0 rgb(249 115 255 / 37%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 2px solid rgb(255 255 255 / 42%);
}

.heading{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
